@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.ttf');
}
@font-face {
    font-family: 'Aref Ruqaa';
    src: url('../fonts/ArefRuqaa-Bold.ttf');
}
@font-face {
    font-family: 'Allura';
    src: url('../fonts/Allura-Regular.ttf');
}
.hero-page { margin-top:50px;} .logo-hero { width:150px;}
.img-border { border: solid 1px teal;}
.arabic { font-family:'Aref Ruqaa'; }
.note-desc-page { margin-bottom:-10px;}
.hero-image {
 background-image: url("../img/header.svg"); /* The image used */
 background-color: #cccccc; /* Used if the image is unavailable */
 height: 500px; /* You must set a specified height */
 background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover; /* Resize the background image to cover the entire container */
}
.mid-image {
 background-image: url("../img/mid.svg"); /* The image used */
 background-color: #cccccc; /* Used if the image is unavailable */
 height: 500px; /* You must set a specified height */
 background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover; /* Resize the background image to cover the entire container */
}
.map-section {
 background-image: url("../img/maps.svg"); /* The image used */
 background-color: #cccccc; /* Used if the image is unavailable */
 height: 600px; /* You must set a specified height */
 background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover; /* Resize the background image to cover the entire container */
}
.socialmedia-section {
 background-image: url("../img/stats.svg"); /* The image used */
 background-color: #cccccc; /* Used if the image is unavailable */
 height: 500px; /* You must set a specified height */
 background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover; /* Resize the background image to cover the entire container */
}

.stats-section {
 background-image: url("../img/socialmedia.svg"); /* The image used */
 height: 500px; /* You must set a specified height */
 background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover; /* Resize the background image to cover the entire container */
}

.footer-section {
 background-image: url("../img/footer.svg"); /* The image used */
 background-color: #cccccc; /* Used if the image is unavailable */
 height: 500px; /* You must set a specified height */
 background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover; /* Resize the background image to cover the entire container */
}

a { text-decoration: none; color: black;} a:hover { text-decoration: none;}
body, h1, h2, h3, h4, h5, h6, p , div, a, select, option, input, textarea, button, span , ul, li, ol { font-family: 'Source Sans Pro', sans-serif; }
.margin-left-24 { margin-left: 24px; }
.margin-right-24 { margin-right: 24px; }
.padding-small { margin:20px; }
.barefoot { margin-bottom: 80px; }
.bg-color {background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* .brand-logo { font-family: 'Allura' , cursive; } */
@media only screen and (min-width:601px) {

}
@media only screen and (min-width:993px) {
     .welcome-screen { margin-top: -25%; } .welcome-text { font-size: 30px;color: #fff;}
     .welcome-logo { width: 200px; float: right; margin-top: -5%;}
     .story { margin-top: -20%; } .heading { font-size: 30px; box-shadow: 2px;} .story-content { font-size: 18px;}
     .map-container { margin-top: -38%;} .contact-form { margin-top: 15%; }
     .stats-container { margin-top:-25%;}
}

.front-bg-col { background-color: #6ec72d; color: #fff;}

/* adopted from w3-css */
.w3-left-align{text-align:left!important}.w3-right-align{text-align:right!important}.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}
.w3-border-0{border:0!important}.w3-border{border:1px solid #ccc!important}
.w3-border-top{border-top:1px solid #ccc!important}.w3-border-bottom{border-bottom:1px solid #ccc!important}
.w3-border-left{border-left:1px solid #ccc!important}.w3-border-right{border-right:1px solid #ccc!important}
.w3-topbar{border-top:6px solid #ccc!important}.w3-bottombar{border-bottom:6px solid #ccc!important}
.w3-leftbar{border-left:6px solid #ccc!important}.w3-rightbar{border-right:6px solid #ccc!important}
.w3-table,.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.w3-table-all{border:1px solid #ccc}
.w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.w3-table-all tr:nth-child(odd){background-color:#fff}.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#ccc}.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}
.w3-margin{margin:16px!important}.w3-margin-top{margin-top:16px!important}.w3-margin-bottom{margin-bottom:16px!important}
.w3-margin-left{margin-left:16px!important}.w3-margin-right{margin-right:16px!important}
.w3-padding-small{padding:4px 8px!important}.w3-padding{padding:8px 16px!important}.w3-padding-large{padding:12px 24px!important}
.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important}.w3-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.w3-padding-32{padding-top:32px!important;padding-bottom:32px!important}.w3-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.w3-padding-64{padding-top:64px!important;padding-bottom:64px!important}
